.popup-bg {
  background-color: #080808;
}

.filter-bg {
  background-color: #1c1c1c;
}
.selected {
  background-color: #1c1c1c;
}
body {
  overflow-x: hidden;
}
#bookmarks-list {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#history-list {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#filter:focus {
  outline: none;
}
.matched {
  color: red;
}
